/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Font family
$sans-serif: 'Roboto', 'Arial', 'Helvetica', sans-serif;

// Font size
$main-size: 16px;

// Font weight
$main-weight: 400;
