@charset "utf-8";

@media screen and (max-width: 1024px) {

  .main-header-container{
    width: 100%;
  }

  .main-header-content {
    display: block;
  }

  .main-header {
    display: block;
  }

  .main-nav {
    width: 300px;
    height: 100vh;
    background-color: $gray;
    position: relative;
    z-index: 100;
    transform: translateX(-500px);
  }

  .main-nav ul {
    display: block;
    padding-left: 2px;
    padding-bottom: 0px;
  }

  .main-nav.active {
    transform: translateX(0px);
  }

  .main-nav-link {
    display: inline-block;
    padding: 23px 28px 23px;
    line-height: 18px;
  }

  .main-nav-link.active {
    border-left: 2px solid $white;
    border-bottom: none;
  }

  .main-nav-heading {
    display: block;
    line-height: 1.625rem;
    text-transform: uppercase;
    color: $light-white;
    font-size: 1.25rem;
    text-align: center;
    padding: 16px;
  }

  .main-header-content-left {
    height: 64px;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
    box-shadow: $light-shadow;
  }

  /* OVERLAY ----------------------------------------- */
  .main-header-overlay {
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 1;
    background-color: transparent;
  }

  .main-header-overlay.active {
    width: 100vw;
    background-color: $overlay;
  }

  .main-container {
    position: relative;
    z-index: -2;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  /* BUTTON ------------------------------------------ */
  .button-burger {
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
    display: block;
    // margin: 16px;

    span {
      display: block;
      width: 36px;
      height: 4px;
      background-color: $white;
      border-radius: 2px;
      margin: auto;
    }
  }

  .button-burger span:first-child {
    transform: translateY(-8px);
  }
  .button-burger.active span:first-child {
    width: 22px;
    transform: translateY(-3px) translateX(-10px) rotateZ(-45deg);
  }

  .button-burger span:last-child {
    transform: translateY(8px);
  }

  .button-burger.active span:last-child {
    width: 22px;
    transform: translateY(3px) translateX(-10px) rotateZ(45deg);
  }
}
