/* HEADER ----------------------------------------------- */

.main-header {
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  background-color: $gray;
  box-shadow: $light-shadow;
}

.main-header-container {
  width: 80%;
  margin: auto;
}

.main-header-content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV ----------------------------------------------- */

.main-nav ul {
  display: flex;
  margin-bottom: 2px;

  li {
    list-style: none;
  }
}

.main-nav li.active:hover a {
  color:  $white;
}

.main-nav li:hover {
  cursor: pointer;
  a {
    color: $strong-white;
  }
}

.main-nav-link {
  display: inline-block;
  padding: 20px 32px 17px;
  color: $light-white;
  text-decoration: none;
  text-transform: uppercase;

  &.active {
    color: $white;
    border-bottom: 2px solid $white;
  }
}

/* HIDING RESPONSIVE BLOCKS ----------------------------------------------- */
.header-close, .button-burger, .main-nav h4 {
  display: none;
}
